section.brand
  .container
    .brand__list
      .brand__list-item
        img.brand__list-icon(src="../images/img-brand1.png")
      .brand__list-item
        img.brand__list-icon(src="../images/img-brand2.png")
      .brand__list-item
        img.brand__list-icon(src="../images/img-brand3.png")
      .brand__list-item
        img.brand__list-icon(src="../images/img-brand4.png")
      .brand__list-item
        img.brand__list-icon(src="../images/img-brand5.png")