footer.footer
  .container
    .footer__inner.pt-10.pb-10
      .footer__box
        .footer__item
          h2.footer__item-title.mb-3 Piroll Design, Inc.
          p.footer__item-desc.mb-1 © 2017 Piroll. All rights reserved.
          span.footer__item-design  Designed by robirurk.
        .footer__item
          span.footer__item-mail hello@pirolltheme.com 
          span.footer__item-phone +44 987 065 908 
      .footer__box
        ul.footer__list
          li.footer__list-item
            a.footer__list-link Projects
          li.footer__list-item
            a.footer__list-link About
          li.footer__list-item
            a.footer__list-link Services
          li.footer__list-item
            a.footer__list-link Carreer
        ul.footer__list
          li.footer__list-item
            a.footer__list-link News
          li.footer__list-item
            a.footer__list-link Events
          li.footer__list-item
            a.footer__list-link Contact
          li.footer__list-item
            a.footer__list-link Legals
        ul.footer__list
          li.footer__list-item
            a.footer__list-link Facebook
          li.footer__list-item
            a.footer__list-link twitter
          li.footer__list-item
            a.footer__list-link Instagram
          li.footer__list-item
            a.footer__list-link Dribbble
