section.galary
  .galary__list
    .galary__list-item
      img(src="../images/img-galary1.png")
    .galary__list-item
      img(src="../images/img-galary2.png")
    .galary__list-item
      img(src="../images/img-galary3.png")
    .galary__list-item
      img(src="../images/img-galary4.png")
    .galary__list-item
      img(src="../images/img-galary5.png")
    .galary__list-item
      img(src="../images/img-galary6.png")
    .galary__list-item
      img(src="../images/img-galary1.png")
    .galary__list-item
      img(src="../images/img-galary7.png")
  a.btn.btn--gray.galary__btn Load More Work