header.header
  .container
    .header__menu
      .header__menu-logo
        a(href="#")
          img(src="../images/img-logo.png" class="logo__image")
      button.header__toggle-menu.hamburger
        span.bar
      ul.header__menu-list
        +blockMenuItem({name: "Home"})
        +blockMenuItem({name: "Pages"})
        +blockMenuItem({name: "Product"})
        +blockMenuItem({name: "Blog"})
        +blockMenuItem({name: "Shop"})
        +blockMenuItem({name: "Contact Us"})
