header.header
  .container
    .header__menu
      .header__menu-logo
        a(href="#")
          img(src="../images/img-logo.png" class="logo__image")
      i.fa.fa-bars.header__toggle-menu
      ul.header__menu-list
        li.list__item
          a(href="#" class="list__item-link") Home
        li.list__item
          a(href="#" class="list__item-link") Pages
        li.list__item
          a(href="#" class="list__item-link") Product
        li.list__item
          a(href="#" class="list__item-link") Blog
        li.list__item
          a(href="#" class="list__item-link") Shop
        li.list__item
          a(href="#" class="list__item-link") Contact Us