section.list.pt-10.pb-4
  .container
    .list__inner
      .list__menu
        .list__menu-item
          img.list__menu-image.mb-3(src="../images/img-list-icon1.png")
          .list__content
            .list__content-title.mb-2 ui / ux design
            .list__content-desc Be set fourth land god darkness  make it wherein own
        .list__menu-item
          img.list__menu-image.mb-3(src="../images/img-list-icon2.png")
          .list__content
            .list__content-title.mb-2 ui / ux design
            .list__content-desc Be set fourth land god darkness  make it wherein own
        .list__menu-item
          img.list__menu-image.mb-3(src="../images/img-list-icon3.png")
          .list__content
            .list__content-title.mb-2 ui / ux design
            .list__content-desc Be set fourth land god darkness  make it wherein own
        .list__menu-item
          img.list__menu-image.mb-3(src="../images/img-list-icon4.png")
          .list__content
            .list__content-title.mb-2 ui / ux design
            .list__content-desc Be set fourth land god darkness  make it wherein own
        .list__menu-item
          img.list__menu-image.mb-3(src="../images/img-list-icon5.png")
          .list__content
            .list__content-title.mb-2 ui / ux design
            .list__content-desc Be set fourth land god darkness  make it wherein own
        .list__menu-item
          img.list__menu-image.mb-3(src="../images/img-list-icon6.png")
          .list__content
            .list__content-title.mb-2 ui / ux design
            .list__content-desc Be set fourth land god darkness  make it wherein own
        .list__menu-item
          img.list__menu-image.mb-3(src="../images/img-list-icon7.png")
          .list__content
            .list__content-title.mb-2 ui / ux design
            .list__content-desc Be set fourth land god darkness  make it wherein own
        .list__menu-item
          img.list__menu-image.mb-3(src="../images/img-list-icon8.png")
          .list__content
            .list__content-title.mb-2 ui / ux design
            .list__content-desc Be set fourth land god darkness  make it wherein own