section.project.pt-10.pb-10
  .container
    .project__list
      .project__list-item
        img(src="../images/img-project-icon1.png").project__list-icon
        .project__content
          h4.project__content-number 548
          span.project__content-title projects completed
      .project__list-item
        img(src="../images/img-project-icon2.png").project__list-icon
        .project__content
          h4.project__content-number 1465
          span.project__content-title WORKING HOURS
      .project__list-item
        img(src="../images/img-project-icon3.png").project__list-icon
        .project__content
          h4.project__content-number 612
          span.project__content-title POSITIVE FEEDBACKS
      .project__list-item
        img(src="../images/img-project-icon4.png").project__list-icon
        .project__content
          h4.project__content-number 735
          span.project__content-title HAPPY CLIENTS