section.quote.pt-10
  .container
    .quote__inner
      .quote__content.pb-10
        p.quote__content-title.mb-4 "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standvived nonturiIpsum passages, and more recently with "
        span.quote__content-author Michael Hopkins
      .quote__content.pb-10
        p.quote__content-title.mb-4 "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standvived nonturiIpsum passages, and more recently with "
        span.quote__content-author Michael Hopkins
      .quote__content.pb-10
        p.quote__content-title.mb-4 "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standvived nonturiIpsum passages, and more recently with "
        span.quote__content-author Michael Hopkins
      .quote__content.pb-10
        p.quote__content-title.mb-4 "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standvived nonturiIpsum passages, and more recently with "
        span.quote__content-author Michael Hopkins