section.work.mb-10
  .container
    .work__inner.pt-10
      +blockContent({
        title: "Our Work Process",
        desc:"rem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also t"
      })
    .work__video
      img.work__video-image(src='https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80')
      i.fa.fa-play.work__video-icon
