.footer {
  background-color: $black;
  color: white;
  &__inner {
    @include flexboxUpdate(
      (
        align-items: flex-start,
        justify-content: flex-start,
      )
    );
  }
  &__box {
    width: 50%;
    @include flexboxUpdate(
      (
        align-items: flex-start,
        justify-content: space-between,
      )
    );
    .footer__item {
      &-title {
        font-size: 1.8rem;
        font-weight: bold;
      }
      &-desc,
      &-design,
      &-mail,
      &-phone {
        display: block;
        font-size: 1.6rem;
      }
    }
    &:last-child {
      @include flexboxUpdate(
        (
          align-items: flex-start,
          justify-content: flex-start,
        )
      );
      .footer__list {
        &-item {
          margin-bottom: 1rem;
        }
        &-link {
          font-size: 1.5rem;
        }
        &:first-child {
          margin-left: 14.5rem;
        }
        &:nth-child(2) {
          margin-left: 5.5rem;
        }
        &:last-child {
          margin-left: 13.5rem;
        }
      }
    }
  }
  @include maxWidth(767px) {
    &__inner {
      padding: 5rem 0;
      flex-direction: column;
    }
    &__box {
      width: 100%;
      flex-direction: column;
      margin-top: 3rem;
      &:last-child {
        @include flexboxUpdate(
          (
            align-items: stretch,
            justify-content: space-between,
          )
        );
      }
    }
    &__list {
      &:first-child {
        margin-left: 0 !important;
      }
      &:nth-child(2) {
        margin-left: 0 !important;
      }
      &:last-child {
        margin-left: 0 !important;
      }
    }
  }
}
