.header {
  position: relative;
  z-index: 1;
  &__toggle {
    &-menu {
      font-size: 2rem;
    }
  }
  &__menu {
    padding-top: 4rem;
    @include flexboxUpdate(
      (
        align-items: center,
        justify-content: space-between,
      )
    );
    &-logo {
    }
    .logo__iamge {
    }
    &-list {
      @include flexboxUpdate(
        (
          align-items: center,
          justify-content: space-between,
        )
      );
    }
    .list__item {
      // &:not(:first-child) {
      //   margin-left: 3rem;
      // }
      &-link {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $black;
        transition: all 0.1s linear;
        &:hover {
          color: $hover;
        }
      }
    }
  }
  @include minWidth(768px) {
    &__toggle {
      &-menu {
        font-size: 2rem;
        display: none;
      }
    }
    &__menu {
      .list__item {
        &:not(:first-child) {
          margin-left: 3rem;
        }
      }
    }
  }
  @include maxWidth(767px) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    &__menu {
      padding: 2rem 0;
      &-list {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        height: 100%;
        transition: all 0.2s linear;
        transform: translateX(100%);
        &.is-active {
          transform: translateX(0);
        }
      }
      .list__item {
        margin: 1.5rem 0;
        &-link {
          font-size: 1.5rem;
        }
      }
    }
  }
}
